.tt-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .ant-layout {
        height: 100%;
    }
    .tt-sider {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 150px;
        background: #2d2d2d;
        overflow: auto;
        &>div {
            text-align: center;
            cursor: pointer;
            line-height: 40px;
            border-bottom: 1px solid #333333;
            &>a {
                text-decoration: none;
                color: white;
                display: block;
                width: 100%;
                height: 100%;
            }
            &>a.on {
                background: orange;
            }
        }
    }
    .ant-layout-header {
        height: 80px;
        .tt-header {
            position: absolute;
            top: 0;
            left: 150px;
            right: 0;
            height: 80px;
        }
    }
    
    .tt-main {
        position: absolute;
        left: 150px;
        top: 80px;
        right: 0;
        bottom: 0;
        background: #cccccc;
        padding: 15px;
        &>div {
            background: white;
            height: 100%;
            padding: 15px;
            border-radius: 5px;
            overflow: auto;
            border-radius: 5px;
            min-width: 750px;
        }
    }
}